<!DOCTYPE html>
<head>
   <title>Temperature Status</title>
</head>

<body>
   <h2>Temperature/Humidity Status</h2>
   <div>DATE : {{ tdate }}</div>
   <div>TIME : {{ ttime }}</div>
   <div>ZONE : {{ zone }}</div>
   <div>TEMPS : {{ tempC }} C, {{ tempF }} F </div>
   <div>HUMID : {{ humidity }}%</div>
   <p>

   <h2>Pin Status</h2>
   {% for pin in pins %}
   <p>The {{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently on (<a href="/{{pin}}/off">turn off</a>)
   {% else %}
      is currently off (<a href="/{{pin}}/on">turn on</a>)
   {% endif %}
   </p>
   {% endfor %}

   {% if message %}
   <h2>{{ message }}</h2>
   {% endif %}

</body>
</html>
